#target, #target1, #target2 {
    border: 1px white solid;
    color: antiquewhite;
}

#stop {
    margin-top: 2em;
    color: antiquewhite;
}

* {
    background: url("images/papyrus-dark.png");
}

#message {
    margin-top: 0.5em;
    color: antiquewhite;
}

#numberBox {
    margin-top: 10em;
}