#target, #target1, #target2 {
    border: 1px white solid;
    color: antiquewhite;
}

#stop {
    margin-top: 2em;
    color: antiquewhite;
    margin-bottom: 1em;
    background-color: black;
}

body {
    background: url("images/papyrus-dark.png");
}

#message {
    margin-top: 0.5em;
    color: antiquewhite;
}

#numberBox {
    margin-top: 5em;
}

#topText {
    font-size: 40px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contentBox {
    border: solid antiquewhite 3px;
    border-radius: 25px;
}

#coins {
    color: antiquewhite;
    font-size: 20px;
}